@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria-1: #464655;
    --cor-primaria-2: #94958B;
    --cor-primaria-3: #B7B6C1;
    --cor-primaria-4: #D5CFE1;
    --cor-bg: #EDDFEF;

    --cor-branco: #fff;
    --cor-preto: #1d1d1d;
    --cor-sombra: #rgba(0, 0, 0, 0.15);
    --cor-texto: #333;

    --fonte: "Poppins", sans-serif;
     
    --raio: 12px;
    --transition: 0.3s ease;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background: #B7B6C1;
    background: linear-gradient(90deg,rgba(183, 182, 193, 1) 0%, rgba(213, 207, 225, 1) 50%, rgba(237, 223, 239, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.container {
    background: var(--cor-branco);
    padding: clamp(2rem, 5vm, 3rem);
    border-radius: var(--raio);
    box-shadow: 0 8px 24px var(--cor-sombra);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.titulo {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    color: var(--cor-texto);
    margin-bottom: 1.5rem;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid var(--cor-preto);
    border-radius: var(--raio);
    font-size: 1rem;
    transition: var(--transition);
}

input.focus {
    border-color: var(--cor-primaria-1);
    outline: none;
    box-shadow: 0 0 0 3px rgba(107, 114, 255, 0.952);
}

